[submodule "admin"]
	path = admin
	url = https://github.com/amank736836/MERN-ECommerce-Admin-Dashboard
[submodule "frontend"]
	path = frontend
	url = https://github.com/amank736836/MERN-ECommerce-Frontend
[submodule "proxy"]
	path = proxy
	url = https://github.com/amank736836/MERN-ECommerce-Proxy
[submodule "backend"]
	path = backend
	url = https://github.com/amank736836/MERN-ECommerce-BackEnd
[submodule "admin=dashboard"]
	path = admin=dashboard
	url = https://github.com/amank736836/MERN-ECommerce-Admin-Dashboard
